/*
  palette
  61b15a - bright green
  adce74 - light bright green
  fff76a - bright yellow
  ffce89 - brown yellow
*/

.App {
  text-align: center;
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  min-height: 100vh;
}

.panel {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 5px;
	background: white;
	padding: 2%;
	width: 90%;
	margin: auto;
  margin-top: auto;
}

.search_menu {
  margin:2px;
  border-radius: 5px;
  background: #e3e3e3;
  padding:2px;
}

.show-select-img {
  margin: 1rem;
  width: 40vh;
  height: 30vh;
}

.add-space {
  margin: 4px;
}

.rating-container {
  display: flex;
}

.rating-container > div {
  padding: 1px;
}

.left-align-cols > div {
  text-align: left;
}

.navbar-custom {
  background-color:#61b15a;
}

.navlinks-custom > a:: {

}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff76a !important;
}

.btn-outline-success {
    color:  #fff76a !important;
    border-color: #fff76a !important;
}

.navbar-toggler.collapsed {
  background-color: #61b15a
}

header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 0.9)),to(rgba(255, 255, 255, 0.9))),url("http://localhost:3000/smashupmontage.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),url("http://localhost:3000/smashupmontage.png");
  min-height :88vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header > h1 {
  opacity: 1;
}
